@media (min-width: 50em){
    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
    .block-column {
        text-align: center;
        inset: 0% 30%;
    }
    .section-padding-60 {
        padding-block: var(--sec-padding-block, 3.75em);
    }
    
    .section-padding-40 {
        padding-block: var(--sec-padding-block, 2.5em);
    }
    
    .section-padding-30 {
        padding-block: var(--sec-padding-block, 1.875em);
    }

    /* hero section */
    .hero-area {
        height: 80vh;
    }
    .hero-section--myblog {
        order: 1;
    }
    .hero-section--myblog--img {
        order: 2;
        display: flex;
        justify-content: right;
    }
    .hero-section--myblog--img img {
        width: 100%;
    }
    /* feature-post */
    .single-post {
        grid-auto-columns: 1fr 2fr;
    }
    .blog-media {
        height: auto;
    }
    .blog-article--title {
        margin-bottom: 0.2em;
    }
    .blog-details {
        margin: 0;
        padding-block: 2em;
    }
    .footer-logo {
        width: 20%;
    }
    .copy-rights p {
        font-size: 1rem;
    }
    .share-link li a,
    .social-list li a {
    width: 2em;
    }
    .post-author {
        gap: 3em;
        grid-auto-flow: column;   
    }
    .author-columns {
        grid-auto-flow: column;
    }
}


@media (max-width: 50em) {
    .primary-header[data-overlay]{
        position: relative;
        z-index: 999;
    }

    .primary-navigation {
        display: none;

        position: fixed;
        inset: 0 0 0 60%;
        margin: 0;
        padding: 4.5em 2em;
        background: hsl(var(--neutral-color-100));
        border-left: 2px solid hsl(var(--accent-color-400), 0.75);
        transform: translateX(100%);
        transition: all 1s ease;
    }

    .primary-header[data-overlay]::before {
        content: '';
        display: block;
        position: fixed;
        inset: 0;
        background: hsl(var(--primary-color-900), 0.1);
    }

    .main-menu {
        display: grid;
        gap: 1.5rem;
    }

    .primary-navigation[ data-visible ] {
        display: block;
        transform: translateX(0);
        transition: all 1s ease;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 999;
        right: 1.5rem;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: transparent;
        padding: 0.5em;
        width: 1.25rem;
        aspect-ratio: 1;

        background-image: url("../images/icon-hamburger.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("../images/icon-close.svg");
        width: 1em;
    }
    /* for stop body scrolling in open nav in mobile */
    .no-scroll {
        max-height: 100vh;
        overflow-y: hidden;
    }


}